body { background-color: #fffaf0; font-family: 'Segoe UI', sans-serif; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0; }
.card { background: white; padding: 30px; border-radius: 25px; box-shadow: 0 10px 30px rgba(0,0,0,0.08); width: 100%; max-width: 480px; }
h2 { color: #E9967A; text-align: center; margin-bottom: 25px; }

.form-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }
.campo { display: flex; flex-direction: column; }
label { font-size: 0.8em; color: #E9967A; font-weight: bold; margin-bottom: 4px; }
input { padding: 10px; border: 2px solid #FFA07A; border-radius: 12px; outline: none; }
.boton-centro { grid-column: span 2; display: flex; justify-content: center; margin-top: 10px; }
button { background-color: #E9967A; color: white; border: none; padding: 12px 30px; border-radius: 50px; font-weight: bold; cursor: pointer; transition: 0.3s; }
button:hover { background-color: #FFA07A; }
hr { border: 0; border-top: 2px solid #fff5f2; margin: 25px 0; }

.lista-materias { list-style: none; padding: 0; margin-bottom: 20px; }
.lista-materias li { display: flex; justify-content: space-between; align-items: center; padding: 12px 10px; border-bottom: 1px solid #fff5f2; }
.rec-label { color: #E9967A; font-style: italic; margin-left: 5px; }

.contadores { display: flex; justify-content: space-around; margin-bottom: 15px; }
.cont-box { background: #fff; border: 1px solid #FFA07A; padding: 8px 15px; border-radius: 12px; font-size: 0.85em; font-weight: bold; }

.estadisticas-centradas { display: flex; flex-direction: column; align-items: center; gap: 15px; margin-top: 25px; padding: 20px; background-color: #fffaf0; border-radius: 20px; border: 2px dashed #FFA07A; }
.stat-card { display: flex; flex-direction: column; align-items: center; gap: 5px; }
.stat-label { font-size: 0.75em; color: #888; text-transform: uppercase; font-weight: bold; }
.stat-value { font-size: 2em; font-weight: 800; }

#contA { color: #27ae60; }
#contD { color: #e74c3c; }
#promedio { color: #E9967A; }
#contMayor { color: #2980b9; }

.status-tag { padding: 4px 12px; border-radius: 20px; font-size: 0.75em; font-weight: bold; color: white; }
.tag-aprobada { background-color: #27ae60; }
.tag-desaprobada { background-color: #e74c3c; }
.btn-edit { background-color: #FFA07A; border: none; color: white; padding: 5px 10px; border-radius: 8px; cursor: pointer; margin-left: 10px; }